body {
    background-color: #d5e1ef;
}
.article-qr {
    margin-top: 70px;
    display: grid;
    place-content: center;
}

.QR-Code-form {
    min-width: 300px;
    max-width: 400px;
    background-color: white;
    display: grid;
    place-items: center;
    border-radius: 4%;
}

.QR-Image {
    width: 90%;
    margin-top: 16px;
    border-radius: 5%;
}

.QR-h2 {
    text-align: center;
    padding: 15px 15px 0 15px;
    font-size: 1.5rem;
    font-weight: 700;
}

.QR-note {
    text-align: center;
    margin-bottom: 50px;
    padding: 0 20px 0 20px;
    color: hsl(220, 15%, 55%);
    font-size: 1.0rem;
    font-weight: 500;
}

.attribution {
    margin-top: 40px;
}